/* CategoryPizza.css - Optimized for mobile responsiveness with pure CSS horizontal scroll in mobile view (≤768px) + Pagination Dots Only on Mobile */

.category-container {
  margin: 20px auto 0 auto;
  padding: 0 1rem; /* Small side padding */
}

.category-section {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.category-card { 
  transition: all 0.3s ease; 
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap:1rem;
}

.category-card:hover {
  transform: scale(1.02);
}
 
.category-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}

.category-image-wrapper {
    width: 10rem;
    height: 10rem;
    
}

.category-card:hover .category-image {
  transform: scale(0.9);
}

category-info {
  padding: 0.5rem; /* Default padding */
}

.category-name {
  font-size: 0.95rem;
  font-weight: 600;
  color: var(--primary);
}

.category-items {
  font-size: 0.8rem;
  color: #555;
}