#czcustomcmsblock2 {
  clear: both;
  width: 100%;
  position: relative;
  overflow: hidden;
}
#czcustomcmsblock2 .czcustomcms {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}
#czcustomcmsblock2 .czcustomcms .custombanner-part1 {
  width: 55%;
}
#czcustomcmsblock2 .czcustomcms .custombanner-part1 .custombanner-content {
  display: flex;
  gap: 35px;
  justify-content: flex-start;
}
#czcustomcmsblock2 .czcustomcms .custombanner-part1 .custombanner-content img {
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-border-radius: var(--global-border-radius);
  -moz-border-radius: var(--global-border-radius);
  -ms-border-radius: var(--global-border-radius);
  -o-border-radius: var(--global-border-radius);
  border-radius: var(--global-border-radius);
  width: 100%;
  height: auto;
  object-fit: cover;
}
#czcustomcmsblock2
  .czcustomcms
  .custombanner-part1
  .custombanner-content
  img.banner-image1 {
  margin-top: 60px;
}
#czcustomcmsblock2 .czcustomcms .custombanner-part2 {
  float: left;
  width: 45%;
  text-align: left;
}
#czcustomcmsblock2 .czcustomcms .custombanner-content .sub-title {
  color: #f97316;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
#czcustomcmsblock2 .czcustomcms .custombanner-content .main-title {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: var(--global-palette3);
  letter-spacing: 0;
  margin-bottom: 25px;
}
#czcustomcmsblock2 .czcustomcms .custombanner-content .main-title span {
  display: block;
}
#czcustomcmsblock2 .czcustomcms .custombanner-content .cms-desc {
  margin-bottom: 25px;
}
@media (max-width: 1399px) {
  #czcustomcmsblock2 .czcustomcms .custombanner-content .main-title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 15px;
  }
  #czcustomcmsblock2 .czcustomcms .custombanner-content .cms-desc {
    margin-bottom: 15px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  #czcustomcmsblock2 .czcustomcms,
  #czcustomcmsblock2 .czcustomcms .custombanner-part1 .custombanner-content {
    gap: 25px;
  }
  #czcustomcmsblock2
    .czcustomcms
    .custombanner-part1
    .custombanner-content
    img.banner-image1 {
    margin-top: 35px;
  }
  #czcustomcmsblock2 .czcustomcms .custombanner-content .main-title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 16px;
  }
  #czcustomcmsblock2 .czcustomcms .custombanner-content .main-title span {
    display: inline;
  }
}
@media (max-width: 767px) {
  #czcustomcmsblock2 .czcustomcms {
    gap: 30px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #czcustomcmsblock2 .czcustomcms .one-half {
    width: 100%;
  }
  #czcustomcmsblock2 .czcustomcms .custombanner-part1 .custombanner-content {
    gap: 1rem;
  }
  #czcustomcmsblock2
    .czcustomcms
    .custombanner-part1
    .custombanner-content
    img.banner-image1 {
    margin-top: 50px;
  }
  #czcustomcmsblock2 .czcustomcms .custombanner-content .main-title span {
    display: inline;
  }

  /* Reduce image size a little in mobile only */
  #czcustomcmsblock2 .czcustomcms .custombanner-part1 .custombanner-content img {
    transform: scale(1); /* Reduces size by 10% */
    transform-origin: top left; /* Keeps positioning consistent */
  }
}
@media (max-width: 480px) {
  #czcustomcmsblock2 .czcustomcms .custombanner-content .sub-title {
    line-height: 20px;
    margin-bottom: 5px;
  }
  #czcustomcmsblock2 .czcustomcms .custombanner-content .main-title {
    font-size: 26px;
    line-height: 32px;
  }
  #czcustomcmsblock2
    .czcustomcms
    .custombanner-part1
    .custombanner-content
    img.banner-image1 {
    margin-top: 30px;
  }

  /* Optional: Reduce even more on very small screens if needed */
  #czcustomcmsblock2 .czcustomcms .custombanner-part1 .custombanner-content img {
    transform: scale(1); /* Reduces by 15% on xs screens */
  }
}