/* #czparallaxcmsblock { 
  width: 100%;
}
#czparallaxcmsblock .parallax.czparallax_1 {
  background-color: var(--global-palette3);
  height: 750px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
#czparallaxcmsblock .parallaxcms-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: auto;
  left: 0;
  text-align: left;
}
.parallax_container.container {
  height: 100%;
}
.parallaxcms {
  height: 100%;
  position: relative;
}
#czparallaxcmsblock .parallaxcms-content .main-title,
#czparallaxcmsblock .parallaxcms-content .main-title2 {
  font-size: 70px;
  line-height: 75px;
  font-weight: 600;
  color: #f7b20e;
}
#czparallaxcmsblock .parallaxcms-content .main-title2 {
  color: var(--global-palette9);
}
#czparallaxcmsblock .parallaxcms-content .main-title2 span,
#czparallaxcmsblock .parallaxcms-content .main-title span {
  display: block;
}
#czparallaxcmsblock .parallaxcms-content .parallaxcms-img {
  display: flex;
  gap: 15px;
  margin: 71px 0;
}
@media (max-width: 1399px) {
  #czparallaxcmsblock .parallaxcms-content .main-title,
  #czparallaxcmsblock .parallaxcms-content .main-title2 {
    font-size: 55px;
    line-height: 65px;
  }
  #czparallaxcmsblock .parallaxcms-content .parallaxcms-img {
    margin-block: 40px;
  }
}
@media (max-width: 1199px) {
  #czparallaxcmsblock .parallaxcms-content .main-title,
  #czparallaxcmsblock .parallaxcms-content .main-title2 {
    font-size: 45px;
    line-height: 55px;
  }
}
@media (max-width: 991px) {
  #czparallaxcmsblock .parallaxcms-content .main-title,
  #czparallaxcmsblock .parallaxcms-content .main-title2 {
    font-size: 35px;
    line-height: 44px;
  }
  #czparallaxcmsblock .parallax.czparallax_1 {
    height: 500px;
  }
  #czparallaxcmsblock .parallaxcms-content .parallaxcms-img img {
    max-width: 170px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  #czparallaxcmsblock .parallax.czparallax_1 {
    height: 400px;
  }
  #czparallaxcmsblock .parallaxcms-content .parallaxcms-img {
    margin-block: 25px;
  }
  #czparallaxcmsblock .parallaxcms-content .parallaxcms-img img {
    max-width: 130px;
  }
}
@media (max-width: 575px) {
  #czparallaxcmsblock .parallaxcms-content .main-title,
  #czparallaxcmsblock .parallaxcms-content .main-title2 {
    font-size: 30px;
    line-height: 36px;
  }
}
@media (max-width: 480px) {
  #czparallaxcmsblock .parallax.czparallax_1 {
    height: 350px;
  }
}
@media (max-width: 380px) {
  #czparallaxcmsblock .parallax.czparallax_1 {
    height: 230px;
  }
  #czparallaxcmsblock .parallaxcms-content .main-title,
  #czparallaxcmsblock .parallaxcms-content .main-title2 {
    font-size: 22px;
    line-height: 26px;
  }
  #czparallaxcmsblock .parallaxcms-content .parallaxcms-img img {
    max-width: 100px;
  }
  #czparallaxcmsblock .parallaxcms-content .parallaxcms-img {
    margin-block: 15px;
  }
} */
