/* 
.drinkslist-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 16px; 
}

@media (min-width: 600px) {
  .drinkslist-container {
    grid-template-columns: repeat(2, 1fr); 
    gap: 16px;
  }
}


@media (min-width: 766px) {
  .drinkslist-container {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media (min-width: 1024px) {
  .drinkslist-container {
    grid-template-columns: repeat(4, 1fr);
  }
}


.drinkslist-card-outer {
  border: none;
  text-align: center;
  background: transparent;
}

.drinkslist-card-placeholder {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.drinkslist-card-placeholder:hover {
  border-radius: 20px;
}

.drinkslist-card-placeholder:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-image: linear-gradient(to bottom, rgba(85, 85, 85, 0.116), rgba(0, 0, 0, 0.788));
  z-index: 0;
}

.drinkslist-card-placeholder .bestseller-placeholder {
  width: 100%;
  height: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
}

.drinkslist-card-outer .top-pizza-toggle {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 2px;
  border: 1px solid #056800;
  border-radius: 8px;
  background-color: #056800;
  font-size: 12px;
}

.drinkslist-card-placeholder .tag_list span:first-child {
  margin-right: 0px;
}

.drinkslist-card-placeholder .tag_list span {
  color: #fff7f0;
  margin-left: 3px;
  margin-right: 3px;
}

.drinkslist-card-name {
  position: absolute;
  bottom: 50px;
  left: 0;
  z-index: 4;
  padding: 0 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: start;
  width: 100%;
  gap: 5px;
}

.drinkslist-card-pizzasize {
  position: absolute;
  bottom: 55px;
  left: 0;
  z-index: 4;
  padding: 0 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: start;
  width: 100%;
  gap: 5px;
}

.drinkslist-card-pizzasize select {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.37);
}
.drinkslist-card-pizzasize .select-input {
  border-radius: 5px !important;
  padding: 5px 8px !important;
  font-size: 12px;
  border: 1px solid white !important;
}

.drinkslist-card-pizzasize .select-input option {
  background-color: rgba(0, 0, 0, 0.693);
}

.drinkslist-card-detail {
  position: absolute;
  bottom: 15px;
  left: 0;
  z-index: 1;
  padding: 0 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 5px;
}

.drinkslist-card-detail .drinkslist-card-left {
  width: 70%;
  max-width: 100%;
  text-align: left;
}

.drinkslist-card-detail .countText {
  color: #fff;
}

.drinkslist-card-detail .drinkslist-card-right {
  width: 30%;
  max-width: 100%;
  text-align: right;
}

.drinkslist-card-name .drinkslist-card-left {
  width: 100%;
  max-width: 100%;
  text-align: left;
}

.drinkslist-card-name h5 {
  margin: 0px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}
.drinkslist-card-name p {
  margin: 5px 0px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.view-btn {
  background-color: #fff;
  display: inline-block;
  text-align: left;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  color: #2e2e2e;
  padding: 0.2rem 0.5rem;
  border: 2px solid #f26724;
} */
