/* Default for small screens (1-2 cards) */
.pzlist-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
  gap: 16px; /* Adjust the gap between cards */
}

/* For screens above 600px (3 cards) */
@media (min-width: 600px) {
  .pzlist-container {
    grid-template-columns: repeat(2, 1fr); /* 3 cards per row */
    gap: 16px;
  }
}

/* For screens above 766px (4 cards) */
@media (min-width: 766px) {
  .pzlist-container {
    grid-template-columns: repeat(3, 1fr); /* 4 cards per row */
  }
}

/* For screens above 1024px (5 cards) */
@media (min-width: 1024px) {
  .pzlist-container {
    grid-template-columns: repeat(4, 1fr); /* 5 cards per row */
  }
}

/* Optional: Styling for individual cards */
.pzlist-card-outer {
  border: none;
  text-align: center;
  background: transparent;
}

.pzlist-card-placeholder {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.pzlist-card-placeholder:hover {
  border-radius: 20px;
}

.pzlist-card-placeholder:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-image: linear-gradient(to bottom, rgba(85, 85, 85, 0.116), rgba(0, 0, 0, 0.788));
  z-index: 0;
}

.pzlist-card-placeholder .bestseller-placeholder {
  width: 100%;
  height: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
}

.pzlist-card-outer .top-pizza-toggle {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 2px;
  border: 1px solid #056800;
  border-radius: 8px;
  background-color: #056800;
  font-size: 12px;
}

.pzlist-card-placeholder .tag_list span:first-child {
  margin-right: 0px;
}

.pzlist-card-placeholder .tag_list span {
  color: #fff7f0;
  margin-left: 3px;
  margin-right: 3px;
}

.pzlist-card-name {
  position: absolute;
  bottom: 50px;
  left: 0;
  z-index: 4;
  padding: 0 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: start;
  width: 100%;
  gap: 5px;
}

/* .pzlist-card-pizzasize {
  position: absolute;
  bottom: 55px;
  left: 0;
  z-index: 4;
  padding: 0 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: start;
  width: 100%;
  gap: 5px;
} */

.pzlist-card-detail select {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.37);
}
.pzlist-card-detail .select-input {
  border-radius: 5px !important;
  padding: 5px 8px !important;
  font-size: 12px;
  border: 1px solid white !important;
}

.pzlist-card-detail .select-input option {
  background-color: rgba(0, 0, 0, 0.693);
}

.pzlist-card-detail {
  position: absolute;
  bottom: 15px;
  left: 0;
  z-index: 1;
  padding: 0 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 5px;
}

.pzlist-card-detail .pzlist-card-left {
  width: auto;
  max-width: 100%;
  text-align: left;
}

.pzlist-card-detail .pzlist-card-right {
  width: auto;
  max-width: 100%;
  text-align: right;
}

.pzlist-card-name .pzlist-card-left {
  width: 100%;
  max-width: 100%;
  text-align: left;
}

.pzlist-card-name h5 {
  margin: 0px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap; /* Prevents text from wrapping to the next line */
  overflow: hidden; /* Hides any overflowing content */
  text-overflow: ellipsis;
}
.pzlist-card-name p {
  margin: 5px 0px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap; /* Prevents text from wrapping to the next line */
  overflow: hidden; /* Hides any overflowing content */
  text-overflow: ellipsis;
}

.view-btn {
  background-color: #fff;
  display: inline-block;
  text-align: left;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  color: #2e2e2e;
  padding: 0.2rem 0.5rem;
  border: 2px solid #f26724;
}
