.hide_button {
  display: none;
}

.slick-track {
  margin: 0 !important;
}
.dotted-line {
  border: none;
  border-top: 2px dotted #ccc; /* Adjust thickness and color */
  margin: 8px 0; /* Adjust spacing as needed */
}

.book-slider {
  background-color: #ffffff;
  padding: 2rem 0;
}

.alternate-color {
  background-color: #d6e4fd;
}

.alternate-color:nth-child(odd) {
  background-color: #ecf8ff;
}

.customizeSliderSection .prev-button,
.customizeSliderSection .next-button {
  border-radius: 0px;
  transform: translateY(-50%);
  padding: 0.5rem;
  margin: 0;
  width: 40px;
  background-color: #c0540cab;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.customizeSliderSection .prev-button:hover,
.customizeSliderSection .next-button:hover {
  background-color: #c0540c;
}

.storelist .prev-button,
.storelist .next-button {
  border-radius: 0px;
  transform: translateY(-50%);
  padding: 0.5rem;
  margin: 0;
  width: 40px;
  background-color: #c0540cab;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.storelist .prev-button:hover,
.storelist .next-button:hover {
  background-color: #c0540c;
}

.customizeSliderSection .prev-button {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 50%;
}

.customizeSliderSection .next-button {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 50%;
}

.storelist .prev-button {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 50%;
}

.storelist .storeTitle {
  color: green;
}

.storelist .storeSubTitle {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.storelist .storeCard {
  border-color: rgb(59, 255, 59);
  padding: 40px;
}

.storelist .next-button {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 50%;
}

.storelist .storeSubTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: initial;
  padding: 0 1rem;
}

.storelist .storeTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: initial;
  padding: 0 1rem;
}

.customizeSliderSection h2.title {
  width: auto;
  border: 2px solid grey;
}

.customizeSliderSection .big-heading {
  margin: 0 0 2rem;
  padding: 0;
  font-size: 1.3rem;
  color: #050d3b;
  font-weight: 600;
  position: relative;
  margin-bottom: 0px;
}

.customizeSliderSection .big-heading::before {
  position: absolute;
  content: "";
  width: 7rem;
  height: 0px;
  background: #c5c5c5;
  /* bottom: -15px;
    z-index: 1;
    left: 0;
    right: 0; */
}

.customizeSliderSection .big-heading::after {
  position: absolute;
  width: 2rem;
  height: 0px;
  background: #3152b4;
  content: "";
  /* left: 8rem;
    bottom: -15px; */
}

/*  */

.background-overlay {
  position: relative;
  height: 370px;
  opacity: 0.7;
}

.background-overlay img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.position-absolute {
  z-index: 2;
  background-color: #1f1f1fc9;
}

@media screen and (max-width: 600px) {
  .customizeSliderSection .prev-button {
    left: -15px;
  }

  .customizeSliderSection .next-button {
    right: -15px;
  }
}
.paralax {
  position: relative; /* Ensures the pseudo-element is positioned correctly */
  background-image: url("https://www.engelvoelkers.com/wp-content/uploads/2014/07/pizza-stock.jpg");
  min-height: inherit;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.paralax::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity */
  z-index: 1; /* Ensure it appears below the content */
}

.paralax .container-fluid {
  position: relative;
  z-index: 2; /* Ensure content appears above the overlay */
}
